*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  padding: 0 20px;
  height: 50px;
}

.social-icons {
  display: flex;
  gap: 17px;
  margin-left: 90px;
}

.social-icons a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff6347;
}

.button-wrapper {
  height: 100%; /* This container match navbar height */
  display: flex;
}

.quote-button {
  background-color: #f0572c;
  color: white;
  border: none;
  height: 100%;
  margin-right: 90px;
  padding: 0 40px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-button:hover {
  background-color: #d94e24;
}

.below-navbar {
  display: flex; /* Align icons horizontally */
  justify-content: space-between; /* Push them to opposite ends */
  align-items: center; /* Vertically align elements */
  background-color: #f8f8f8; /* Optional: background color for this section */
  padding: 10px 20px; /* Adjust padding as needed */
  margin-top: 10px; /* Space below the navbar */
}

.logo {
  margin-left: 6em;
}

.phone-address-container {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 20px;
  margin-right: 4.4em;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border: 2px solid #f25c05; /* orange/red border */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.icon-circle img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.info-text h2 {
  margin: 0 0 7px 0;
  font-size: 18px;
  color: #000;
}

.info-text span {
  color: #666;
  font-size: 17px;
}

.main-navbar {
  background-color: #f25c05; /* orange */
  padding: 24px 0;  
  text-align: center;
  position: sticky;
  top: 0; /* This tells the navbar to stick to the top */
  z-index: 1000; /* Ensures the navbar stays above other content */  
  margin-top: -1px; /* removes the white line that joins the navbar and the background image */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 30px; /* space between menu items */
}

.nav-links li {
  color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-links li .arrow {
  font-size: 12px; /* smaller than the text */
  margin-left: 5px;
  vertical-align: middle; /* aligns with the middle of the text */
}

/* Hero Section */
.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 10;
  max-width: 600px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 1;
}

.hero-overlay h1 {
  font-size: 70px;
  margin: 0 0 25px;
}

.hero-overlay p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 50px;
}

.hero-btn {
  padding: 12px 30px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 2em;
  width: 13.4em;
  height: 4em;
}

.hero-btn:hover {
  background-color: #f25c05;
  color: white;
  border: none;
}

/* Initial state */
.hero-overlay .slide-down,
.hero-overlay .slide-left,
.hero-overlay .hero-btn {
  opacity: 0;
}

/* Animated state */
.hero-overlay .slide-down.animate-in {
  animation: slideDownFade 1.6s ease-out forwards;
}

.hero-overlay .slide-left.animate-in {
  animation: slideLeftFade 1.6s ease-out forwards;
  animation-delay: 0.5s;
}

.hero-overlay .hero-btn.animate-in {
  animation: heroButtonDownFade 1.6s ease-out forwards;
  animation-delay: 2s;
}

/* Keyframes */
@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-25vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftFade {
  from {
    opacity: 0;
    transform: translateX(-100vw); /* Start from the left edge of the screen */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes heroButtonDownFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.custom-swiper-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

.custom-prev {
  left: 4.5em;
}

.custom-next {
  right: 4.5em;
}

.custom-swiper-button:hover {
  background-color: #f25c05;
  color: white;
}

/* Scroll to Top button*/
.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f25c05;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;

  /* Initially hidden below the screen */
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none; /* Prevent clicks when hidden */
}

/* When scrolled down — slide up */
.scroll-top.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Services starts here */
.services {
  padding: 60px 80px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.section-title {
  color: #f44336;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 700;
  position: relative;
}

.roman-decor {
  display: block;
  font-size: 2rem;
  color: #f44336;
  font-weight: bold;
  margin-top: 15px;
}

.my-slider-container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1300px;
}

.my-slider-track {
  display: flex;
  width: max-content;
}

.my-slide {
  text-align: left;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  cursor: default;
  transition: background-color 0.3s ease;
}

.my-slide img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.my-slide a {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
}

.my-slide h3 {
  margin-top: 50px;
  color: #2d2d2d;
  cursor: pointer;
}

.my-slide p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.icon-box {
  position: absolute;
  top: 200px;
  left: 20px;
  background-color: #333;
  padding: 10px;
  margin: 15px;
  width: 70px;
  height: 70px;
  cursor: default;
}

.icon-box img {
  width: 100%;
  height: auto;
}

.image-wrapper {
  overflow: hidden;
  position: relative;
}

.service-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
  transform-origin: center center; /* Zoom from center */
}

.my-slide:hover .service-img {
  transform: scale(1.1);
}

.my-slide:hover h3,
.my-slide:hover a {
  color: #f25c05;
}

.my-slide:hover .icon-box {
  background-color: #f25c05;
}

.image-wrapper:hover .service-img {
  transform: scale(1.1);
}

.image-wrapper:hover .visual-search-icon {
  opacity: 1;
  pointer-events: auto;
}

.visual-search-icon:hover ~ .save-collections-icon,
.visual-search-icon:hover ~ .settings-icon {
  opacity: 1;
  pointer-events: auto;
}

.my-slide .icon-container {
  position: absolute;
  top: 20px; /* position of three icons */
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* space between icons */  
  transition: opacity 0.4s ease;  
}

.my-slide .tooltip-text {
  position: absolute;
  bottom: -25px; /* position below the icon */
  left: 190%;
  transform: translateX(-50%);
  background-color: white;
  color: #333;
  border: 1px solid black;
  padding: 5px 10px;    
  font-size: 12px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* Dashboard section */
.dashboard {
  position: relative;
  background-image: url("./assets/image1/funfact-bg.jpg"); /* dull background */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 6.25rem; /* assuming 1rem = 16px */
  min-height: 10rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* dull dark overlay */
  z-index: 1;
}

.stats {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1 1 150px;
}

.stat-box img {
  margin-bottom: 4px;
}

.stat-box h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 7px;
}

.stat-box p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

/* Construction World section */
/* Section Layout */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}

/* Left Content */
.about-us .content {
  width: 50%;
  margin-left: 4rem;
}

.about-us h2 {
  color: #ff4a17;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-us h3 {
  font-size: 40px;
  font-weight: 700;
  color: #0b0c14;
  margin-bottom: 20px;
  line-height: 1.4;
}

.about-us p {
  font-size: 18px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-us button {
  background-color: #ff4a17;
  color: #fff;
  padding: 15px 30px;
  width: 11rem;
  height: 3.5rem;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.about-us button:hover {
  background-color: black;
}

/* Right Image Section */
.construction-image {
  width: 39.8%;
  border-right: 5px solid #ff4a17;
  border-bottom: 5px solid #ff4a17;
  padding: 20px;
  position: relative;
  margin-top: 4rem;
  margin-right: 3.5rem;
}

.zoom-container {  
  overflow: hidden;  
}

.zoom-container:hover .try-hover {
  transform: scale(1.1);
}

.zoom-container:hover .play-icon {
  transform: scale(1.1) translateY(-50%);
}

.try-hover,
.play-icon {
  transition: transform 0.4s ease;
}

.try-hover {
  width: 100%;
  display: block;
  cursor: pointer;
}

/* Play Button */
.play-icon {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  background-color: #ff4a17;
  color: white;
  font-size: 27px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.zoom-container .icon-container {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* space between icons */  
  transition: opacity 0.4s ease;  
}

.icon-container img {
  width: 25px;
  filter: brightness(70%); /* dim white */
}

.icon {
  position: relative; /* Needed for positioning the tooltip */
  width: 35px;
  height: 35px;
  background-color: rgb(194, 191, 191);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: background-color 0.3s ease;
}

.icon img {
  width: 42%;
  height: 42%;
  object-fit: contain;
  filter: brightness(70%); 
}

.icon:hover {
  background-color: white;
}

.icon:hover img {
  filter: brightness(100%);
}

.tooltip-text {
  position: absolute;
  bottom: -25px; /* position below the icon */
  left: 190%;
  transform: translateX(-50%);
  background-color: white;
  color: #333;
  border: 1px solid black;
  padding: 5px 10px;    
  font-size: 12px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.icon:hover .tooltip-text {
  opacity: 1; /* show tooltip on hover */
}

.try-hover:hover + .icon-container .visual-search-icon,
.icon-container .visual-search-icon:hover {
  opacity: 1;
  pointer-events: auto;
}

.icon-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* Always hide Save & Settings icons */
.save-collections-icon,
.settings-icon {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Show Save & Settings when hovering on icon-group but ONLY triggered by hovering visual-search-icon */
.icon-group:hover .save-collections-icon,
.icon-group:hover .settings-icon,
.icon-group:hover .visual-search-icon {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

